.searchbar{
    display: flex;
    align-items:center;
    justify-content:center;
    position: sticky;
    padding-bottom:0.3rem;
    padding-right:1rem;
    /* box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.15); */
}