.tilecontainer{
    margin-top: 1rem;
    display: flex;
    width:93%;
    height:auto;
    /* border: 2px solid #000000; */
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border-bottom: black 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2rem;
    cursor: pointer;
}
@media (min-width: 1010px) {
    .tilecontainer>.tileimage>img{
        height: auto;
        /* max-height:43vh; */
        width:33vw;
        background-color: #f5f5f5;
        border: 1px solid #e6e6e6;
        border-radius: 1rem;
        margin-right: 2rem;
        cursor: none;
    }
}
.tiletitle{
    margin-top:1rem;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 2vh;
}
.tileauthor{
    margin-top:0.3rem;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 150;
}
.tilebody{
    margin-top:0.3rem;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

@media (max-width: 1010px) {
    .tileimage>img{
        height:auto;
        width:88vw;
        cursor: none;
    }
    .tilecontainer {
      flex-direction: column;
        align-items: center;
        gap:1vh;
        
    }
    .tiletitle{
        margin-top:1rem;
        color:black;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: 200;
    }
    .tilecontainer > .tileimage {
      order: -1;
    }
    .navbar>ul>li{
        margin-right: 0rem;
    }
}