.regPage{
    background-color: rgb(51, 48, 54);   
    min-height:100vh;
    padding-bottom:5vh;
}
.RegisterContainer{
    background-color: rgb(231, 227, 221);
    height:auto;
    width:50vw;
    padding:1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top:10vh;
    border-radius: 0.5rem;
    margin-bottom: 0rem;
}
.RegisterInfo>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.RegisterHeader{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: rgb(51, 48, 54);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:default;
}
.RegisterFooterText>a:hover{
    text-decoration: underline;
    color:rgb(2, 31, 32)
}
.RegisterFooterText>a{
    text-decoration: none;
    color:black;
}
.RegisterFooterText{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
@media (max-width:1010px) {
    .RegisterContainer{
        width:85vw;
    }

}