.signinPage{
    background-color: rgb(227, 216, 239);   
    height:97.5vh;
}
.SignInContainer{
    background-color: rgb(242, 240, 237);
    height:auto;
    width:43vw;
    padding:1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 13vh;
    border-radius: 0.5rem;
}
.SignInInfo>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SignInHeader{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:default;

}
.SignInFooterText>a:hover{
    text-decoration: underline;
    color:rgb(2, 31, 32)
}
.SignInFooterText>a{
    text-decoration: none;
    color:black;
}
.SignInFooterText{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
@media (max-width: 768px) {
    .SignInContainer{
        width: 88vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
    }
}
